<div class="contact-page">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div class="col-sm-6">
        <div>
            San Francisco Bay Area
        </div>
        <div>
            youngtechfriend@gmail.com
        </div>

    </div>

    <div class="col-sm-6">
        <div class="form-container">
            <form action="//formspree.io/youngtechfriend@gmail.com"
                  method="POST">
                <div>
                    <label> Hello </label>
                    <input type="text" name="name" placeholder="Your name">
                </div>
                <div>
                    <label>Describe your question or request here</label>
                    <br>
                    <textarea rows="3" name="comments" placeholder="your text here"></textarea>
                </div>
                <div>
                    <label>How shall I contact you back?</label>
                    <br>
                    <input type="text" name="phone" placeholder="Your phone #">
                    <br>
                    <input type="email" name="_replyto" placeholder="Your email">
                </div>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>


</div>