<div class="panel-2">
    <div class="schedule">
        <h2>This Week's Drop-in Schedule</h2>
        <table>
            <tr>
                <td>
                    Sunday 4/10
                </td>
                <td>
                    <a>TBD</a>
                </td>
            </tr>
            <tr>
                <td>
                    Monday 4/11
                </td>
                <td>
                    <a>TBD/a>
                </td>
            </tr>
            <tr>
                <td>
                    Tuesday 4/12
                </td>
                <td>
                    <a>TBD</a>
                </td>
            </tr>
            <tr>
                <td>
                    Wednesday 4/13
                </td>
                <td>
                    <a>TBD</a>
                </td>
            </tr>
            <tr>
                <td>
                    Thursday 4/7: 4-7:30pm
                </td>
                <td>
                    <a href="http://www.yelp.com/biz/starbucks-san-francisco-125">Starbucks</a>
                </td>
            </tr>
            <tr>
                <td>
                    Friday 4/8
                </td>
                <td>
                    <a>Booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    Saturday 4/9
                </td>
                <td>
                    <a>TBD</a>
                </td>
            </tr>
        </table>
    </div>

</div>