<div class="panel-1">

    <div class="col-md-4">
        <img src="">
        <h2>Get Updated</h2>
        <p>Learn about the latest apps related to your interests</p>

    </div>

    <div class="col-md-4">
        <img src="">
        <h2>Get Updated</h2>
        <p>Learn about the latest apps related to your interests</p>
    </div>

    <div class="col-md-4">
        <img src="">
        <h2>Get Updated</h2>
        <p>Learn about the latest apps related to your interests</p>
    </div>

</div>