<div class="panel-2">
    <div class="schedule">
        <h2>This Week's Drop-in Schedule</h2>
        <table>
            <tr>
                <td>
                    Sunday 4/17 3-7pm
                </td>
                <td>
                    <a href="http://www.yelp.com/biz/jebena-coffee-and-tea-co-san-francisco-2">Jebena Coffee, SF</a>
                </td>
            </tr>
            <tr>
                <td>
                    Monday 4/18
                </td>
                <td>
                    <a>Booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    Tuesday 4/19 2:30-6pm
                </td>
                <td>
                    <a href="http://www.yelp.com/biz/fresh-and-best-cafe-2-oakland">Fresh & Best Cafe, Oakland </a>
                </td>
            </tr>
            <tr>
                <td>
                    Wednesday 4/20 1pm-5:30pm
                </td>
                <td>
                    <a href="http://www.yelp.com/biz/jebena-coffee-and-tea-co-san-francisco-2">Jebena Coffee, SF</a>
                </td>
            </tr>
            <tr>
                <td>
                    Thursday 4/21: 4-7:30pm
                </td>
                <td>
                    <a>Booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    Friday 4/22
                </td>
                <td>
                    <a>Booked</a>
                </td>
            </tr>
            <tr>
                <td>
                    Saturday 4/23
                </td>
                <td>
                    <a>TBD</a>
                </td>
            </tr>
        </table>
    </div>

</div>