<div class="panel-2">
    <div class="schedule">
        <h2>This Week's Schedule</h2>
        <table>
            <tr>
                <td>
                    Sunday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
            <tr>
                <td>
                    Monday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
            <tr>
                <td>
                    Tuesday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
            <tr>
                <td>
                    Wednesday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
            <tr>
                <td>
                    Thursday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
            <tr>
                <td>
                    Friday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
            <tr>
                <td>
                    Saturday
                </td>
                <td>
                    <a>Some Coffeeshop Location</a>
                </td>
            </tr>
        </table>
    </div>

</div>